Source: qt-sdk
Section: devel
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Fathi Boudra <fabo@debian.org>,
           Lisandro Damián Nicanor Pérez Meyer <lisandro@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Vcs-Git: git://git.debian.org/pkg-kde/qt/qt-sdk.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/qt/qt-sdk.git;a=summary

Package: qt-sdk
Architecture: any
Depends: qt4-sdk, ${misc:Depends}
Section: oldlibs
Description: transitional dummy package for qt4-sdk
 This is a transitional dummy package that depends on qt4-sdk.
 It can be safely removed.

Package: qt4-sdk
Architecture: all
Breaks: qt-sdk (<< 3~)
Replaces: qt-sdk (<< 3~)
Depends: build-essential,
         cmake,
         gdb,
         git-core,
         libphonon-dev,
         libqt4-dev,
         libqt4-opengl-dev,
         qt4-designer,
         qt4-dev-tools,
         qt4-doc,
         qt4-doc-html,
         qt4-qmake,
         qtchooser,
         qtcreator,
         qtcreator-doc,
         subversion,
         ${misc:Depends}
Suggests: libqt4-dbg, libqt4-webkit-dbg, libqt4-xmlpatterns-dbg
Description: Complete Qt 4 Software Development Kit
 This metapackage provides a complete Qt 4 Software Development Kit.
 Tools cover IDE, revision control, debugging and documentation.

Package: qt5-sdk
Architecture: all
Depends: build-essential,
         cmake,
         gdb,
         git-core,
         libphonon-dev,
         libqt5-dev,
         qt5-doc,
         qt5-doc-html,
         qt5-qmake,
         qtbase5-dev-tools,
         qtchooser,
         qtcreator,
         qtcreator-doc,
         qtdeclarative5-dev-tools,
         qttools5-dev-tools,
         qtxmlpatterns5-dev-tools,
         subversion,
         ${misc:Depends}
Suggests: libqt5v8-5-dbg,
          libqt5webkit5-dbg,
          qtbase5-dbg,
          qtdeclarative5-dbg,
          qtmultimedia5-dbg,
          qtquick1-5-dbg,
          qtscript5-dbg,
          qtsvg5-dbg,
          qttools5-dbg,
          qtx11extras5-dbg,
          qtxmlpatterns5-dbg
Description: Complete Qt 5 Software Development Kit
 This metapackage provides a complete Qt 5 Software Development Kit.
 Tools cover IDE, revision control, debugging and documentation.

Package: libqt5-dev
Architecture: all
Section: libdevel
Depends: libqt5opengl5-dev,
         libqt5svg5-dev,
         libqt5v8-5-dev,
         libqt5webkit5-dev,
         libqt5x11extras-dev,
         libqt5xmlpatterns5-dev,
         qtbase5-dev,
         qtdeclarative5-dev,
         qtmultimedia5-dev,
         qtquick1-5-dev,
         qtscript5-dev,
         qttools5-dev,
         ${misc:Depends}
Description: Qt 5 development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains all the header development files used for building Qt 5
 applications.
